# This file specifies files that are *not* uploaded to Google Cloud when using `gcloud`.
# See https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

.git/
.gitignore
venv/
.env
node_modules/
npm-debug.log
.DS_Store
build/
dist/
**/__pycache__/**
**/*.pyc
*.sqlite3
media/
staticfiles/
